## SQL And SQLite
SQL (Structure Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [2]:
import sqlite3 as sql

In [3]:
# Connect to an SQLite database
connection = sql.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
# Create a table
cursor.execute('''
Create Table If Not Exists employee(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text
    )
''')

# Commit the changes

connection.commit

In [7]:
cursor.execute('''
Select * from employee
''')

In [9]:
# Insert the data in sqlite

cursor.execute('''
INSERT INTO employee (name, age, department)
VALUES ('Shivam', 20, 'Software Engineer')
''')

cursor.execute('''
INSERT INTO employee (name, age, department)
VALUES ('Varun', 19, 'Cyber Engineer')
''')

In [10]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()

# print the queried data 

for row in rows:
    print(row)

(1, 'Shivam', 20, 'Software Engineer')
(2, 'Varun', 19, 'Cyber Engineer')

In [11]:
# Update the data in the Table
cursor.execute('''
UPDATE employee
               Set age = 34
               where name = 'Shivam'
''')

In [12]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()

# print the queried data 

for row in rows:
    print(row)

(1, 'Shivam', 34, 'Software Engineer')
(2, 'Varun', 19, 'Cyber Engineer')

In [13]:
# Delete the data from the table
cursor.execute('''
Delete from employee
               where name = "Varun"
''')

In [14]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()

# print the queried data 

for row in rows:
    print(row)

(1, 'Shivam', 34, 'Software Engineer')

In [15]:
# Working with sales data

connection = sql.connect("sales_data.db")
cursor = connection.cursor()

# Created table for the sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [16]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [17]:
## close the connection
connection.close()

In [18]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.