# Lists

- Lists are Mutable, Ordered collection of items.
- They contain items of different data types

In [1]:
list = [1, 12, "Shivam"]
print(list)

[1, 12, 'Shivam']

In [2]:
# Accessing the list elements

fruits = ["apple", "banana", "cerry", "mango"]

print(fruits[0])

apple

In [3]:
for i in range(4):
    print(fruits[i])

apple
banana
cerry
mango

In [ ]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[-1])
print(fruits[-1:-3])

['banana', 'cerry', 'mango']
['banana', 'cerry']
mango
[]

# Modifying the list element

In [5]:
fruits[1] = "Watermelon"
print(fruits)

['apple', 'Watermelon', 'cerry', 'mango']

In [6]:
fruits[1:]= "Watermelon"
print(fruits)

['apple', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [7]:
fruits = ["apple", "banana", "cerry", "mango"]

print(fruits)

['apple', 'banana', 'cerry', 'mango']

In [8]:
# List Methods

fruits.append("orange")
print(fruits)

['apple', 'banana', 'cerry', 'mango', 'orange']

In [9]:
fruits.insert(1, "Pineapple")

In [10]:
print(fruits)

['apple', 'Pineapple', 'banana', 'cerry', 'mango', 'orange']

In [11]:
fruits.remove("Pineapple") # It removes the first occurance of the item

In [12]:
print(fruits)

['apple', 'banana', 'cerry', 'mango', 'orange']

In [13]:
# Remove and return the last element
popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'banana', 'cerry', 'mango']

In [14]:
fruits.index("cerry")

2

# Slicing List

In [15]:
# Slicing List

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[::2]) # jumpsize
print(numbers[::-1]) # reverse the list

[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# List Comprehension

In [16]:
[x*2 for x in range(11)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
evenNumber = [num for num in range(11) if num%2==0]
print(evenNumber)

[0, 2, 4, 6, 8, 10]