In [1]:
# Step 1: Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import statsmodels.api as sm

In [6]:
df = pd.read_csv("Ice_cream selling data.csv")
df.head()

   Temperature   Ice Cream Sales
0     -4.662263        41.842986
1     -4.316559        34.661120
2     -4.213985        39.383001
3     -3.949661        37.539845
4     -3.578554        32.284531

In [7]:
df.isnull().sum()

Temperature        0
Ice Cream Sales    0
dtype: int64

In [9]:
df.rename(columns={"Ice Cream Sales": "Ice_Cream_Sales"}, inplace=True)

In [10]:
# Step 3: Scatter Plot (Visualization)
plt.figure(figsize=(6,4))
plt.scatter(Temperature, Ice_Cream_Sales, color='green')
plt.xlabel("Temperature (°C)")
plt.ylabel("Ice Cream Sales (units)")
plt.title("Scatter Plot of Temperature vs Ice Cream Sales")
plt.show()

NameError: name 'Temperature' is not defined